# Postgres variables
DB_NAME=algodb
DB_USER=postgres
DB_PASSWORD=test
DB_HOSTNAME=db
DB_PORT=5432

# Server variables
EXPRESS_HOST=localhost
EXPRESS_PORT=8080
COOKIES_SECRET=<secret>

# GitHub variables
GITHUB_CLIENT_ID=<id>
GITHUB_CLIENT_SECRET=<secret>
